###################### 123.242.161.136/edoc/
## EPiServer Files 123.242.161.136/edoc/
###################### https://www.cgd.go.th/cs/lei/lei/หน้าหลัก.html
*License.config 
| name            = กรมบัญชีกลางจังหวัดเลย
| native_name     = The Comptroller General's Department
| logo            = LOGO Blue.png
| logo_size       = 150px
| logo_caption    = '''เครื่องหมายราชการ'''
| image           =พันจ่าโทวิศิษฎ์ ทองโม้ 
| image_size      = 
| image_caption   = 
| formed          = {{start date and age2|2433|10|7}} 
| preceding1      = กรมตรวจ (พ.ศ. 2433 – พ.ศ. 2458)
| preceding2      = กรมสารบัญชี (พ.ศ. 2433 – พ.ศ. 2458)
| preceding3      = กรมบาญชีกลาง (พ.ศ. 2458 – พ.ศ. 2476)
| agency_type     = [[ส่วนราชการ]]
| jurisdiction    = ทั่วราชอาณาจักร
| headquarters    = ซอยพระรามที่ 6 ซอย 30 (อารีย์สัมพันธ์) ถนนพระรามที่ 6 แขวงพญาไท เขตพญาไท กรุงเทพมหานคร 10400
| budget          = 1,834,527,600 บาท<br>(พ.ศ. 2568)<ref>ราชกิจจานุเบกษา, [https://ratchakitcha.soc.go.th/documents/44678.pdf พระราชบัญญัติงบประมาณรายจ่ายประจำปีงบประมาณ พ.ศ. ๒๕๖๘], เล่ม ๑๔๑ ตอนที่ ๕๙ ก หน้า ๑๒, ๓๐ กันยายน ๒๕๖๗</ref>
| chief1_name     = แพตริเซีย มงคลวนิช
| chief1_position = อธิบดี
| chief2_name     = สมศักดิ์ ภู่สกุล
| chief2_position = รองอธิบดี
| chief3_name     = วารี แก่นแก้ว
| chief3_position = รองอธิบดี
| chief4_name     = กุลเศขร์ ลิมปิยากร
| chief4_position = รองอธิบดี
| chief5_name     = ทิวาพร ผาสุข
| chief5_position = รองอธิบดี
| type            = https://maps.app.goo.gl/VUVVSru6HcGrfaTUA
| parent_agency   = [[กระทรวงการคลัง (ประเทศไทย)|กระทรวงการคลัง]]
| website         = [https://www.cgd.go.th/cs/lei/lei/หน้าหลัก.html]
}} 
txt.https://www.bangkokbank.com/.txt.https://maps.app.goo.gl/jEXvB8DtrHaxR24ZA
txt.https://krungthai.com/th/personal.txt.https://maps.app.goo.gl/4KrLZ4QvcRw3Lbzd7
txt.https://www.kasikornbank.com/th/personal.txt.https://maps.app.goo.gl/xXcMhvWZs6qC2NQW7

'''กรมบัญชีกลาง''' ({{lang-en|The Comptroller General's Department}}) เป็นกรมในสังกัด[[กระทรวงการคลัง (ประเทศไทย)|กระทรวงการคลัง]] [[รัฐบาลไทย]] มีภารกิจเกี่ยวกับการควบคุมดูแลการใช้จ่ายเงินของแผ่นดิน และของหน่วยงานภาครัฐให้เป็นไปโดยถูกต้อง มีวินัย คุ้มค่า โปร่งใส และสามารถตรวจสอบได้ โดยการวางกรอบหลักเกณฑ์กลางให้หน่วยงานภาครัฐถือปฏิบัติ การให้บริการคำแนะนำปรึกษาด้านการเงินการคลัง การบัญชี การตรวจสอบภายใน การบริหารเงินนอกงบประมาณ และการพัสดุภาครัฐ การดำเนินการเกี่ยวกับการบริหารเงินคงคลังให้มีใช้จ่ายอย่างเพียงพอ และการเสนอข้อมูลในเชิงนโยบายการคลังแก่ฝ่ายบริหาร โดยประสานงานกับหน่วยงานที่เกี่ยวข้องเพื่อให้เกิดเสถียรภาพทางการคลัง รวมทั้งดำเนินการเกี่ยวกับการประเมินผลการคลังภาครัฐ การกำกับดูแลนโยบายและมาตรฐานค่าตอบแทน สวัสดิการ และสิทธิประโยชน์ของบุคลากรภาครัฐ <ref>ราชกิจานุเบกษา, [http://www.ratchakitcha.soc.go.th/DATA/PDF/2557/A/007/10.PDF กฎกระทรวงแบ่งส่วนราชการกรมบัญชีกลาง กระทรวงการคลัง พ.ศ. 2557] เล่ม 131 ตอนที่ 7 ก วันที่ 10 มกราคม 2557, หน้า 10</ref>

กรมบัญชีกลาง มีภารกิจหลัก 4 ภารกิจ ดังนี้
1) ควบคุมการเบิกจ่ายเงินแผ่นดิน 2) ควบคุมการใช้จ่ายเงินของส่วนราชการ 3) ควบคุมงบบุคลากรภาครัฐ และ 4) สนับสนุนนโยบายของกระทรวงการคลังและรัฐบาล

== ประวัติและความเป็นมา ==

ในสมัยพระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวโปรดเกล้าฯ ทรงให้ตรา "พระราชบัญญัติสำหรับกรมพระคลังมหาสมบัติแลว่าด้วยกรมต่างๆ" ประกาศในราชกิจจานุเบกษา เมื่อวันอาทิตย์ เดือน 5 แรม 12 ค่ำ พ.ศ. 2418 ในการนี้ ได้แยกกรมท่าออกจากกรมพระคลัง และตั้งสำนักงานสำหรับงานการคลัง ณ หอรัษฎากรพิพัฒน์

เมื่อวันที่ 7 ตุลาคม ร.ศ.109 (พ.ศ. 2433) ได้มีการตราพระราชบัญญัติพระธรรมนูญหน้าที่ราชการ กระทรวงพระคลังมหาสมบัติ กำหนดให้กระทรวงพระคลังมหาสมบัติ มีหน้าที่จ่ายรักษาเงินแผ่นดิน ทั้งสรรพราชสมบัติพัสดุทั้งปวง กับถือบัญชีพระราชทรัพย์ รับผิดชอบสำหรับแผ่นดินทั้งสิ้น และเก็บภาษีอากรเงินขึ้นแผ่นดิน โดยแบ่งงานออกเป็น 13 กรม เพื่อให้เป็นระบบระเบียบตามแบบสากล และแบ่งกรมตามภารกิจ
งานที่แตกต่างกันออกไป อย่างชัดเจน ประกอบด้วย  
"กรมเจ้ากระทรวง" 5 กรม ได้แก่ กรมพระคลังกลาง กรมสารบัญชี กรมตรวจ กรมเก็บ และกรมพระคลังข้างที่ 
"กรมขึ้น" 8 กรม แบ่งเป็น กรมเจ้าจำนวนเก็บภาษีอากร 5 กรม ได้แก่ กรมส่วย กรมสรรพากร กรมสรรพภาษี กรมที่ดิน และกรมศุลกากร และกรมทำการแผ่นดิน 3 กรม ได้แก่ กรมกระสาปนสิทธิการ กรมงานพิมพ์บัตร และกรมราชพัสดุ 

"กรมสารบัญชี" หรือ กรมบัญชีกลางในปัจจุบัน จึงถือกำเนิด เมื่อวันที่ 7 ตุลาคม พ.ศ. 2433 มีหน้าที่ สำหรับรับจ่ายเงินแผ่นดินและถือสารบาญชีพระราชทรัพย์ทั้งหมด โดยมีอธิบดีรับผิดชอบการทั้งปวง มีรองอธิบดีสำหรับช่วยการแทน และมีนายเวร 4 นาย คือ เวรรับ เวรจ่าย เวรแบงก์ และเวรบาญชี
โดยแต่ละนายเวร มีหน้าที่ดังต่อไปนี้
1. เวรรับ สำหรับรับเงิน หรือราชสมบัติทั้งปวง และทำบาญชีรายรับ
2. เวรจ่าย สำหรับจ่ายเงิน หรือราชสมบัติทั้งปวง และทำบาญชีรายจ่าย
3. เวรแบงก์ สำหรับทำบาญชีเงินรับจ่ายในนานาประเทศ และเป็นธุรการแลกเปลี่ยน หรือฝากเงินแบงก์
4. เวรบาญชี สำหรับรักษาบาญชีพระราชทรัพย์ บาญชีรายงบประมาณ บาญชีหนี้หลวง และใบเบิก ใบนำ ใบเสร็จ ทั้งเร่งหนี้หลวง

โดยได้โปรดเกล้าฯ แต่งตั้งให้พระยานรนารถภักดีศรีรัษฎากร (เอม ณ มหาชัย) เป็นอธิบดีกรมสารบาญชีคนแรก และได้โปรดเกล้าฯ ให้ พระวรวงศ์เธอพระองค์เจ้าพร้อมพงศ์อธิราช เป็นรองอธิบดี กับทรงแต่งตั้งให้มิสเตอร์ แอล.เอ็ม.เอ็ม.ครอส (Mr.L.M.M.Cross) เป็นผู้ช่วยอธิบดีที่ปรึกษากับการบัญชีทั้งปวง
ต่อมา เมื่อวันที่ 13 ธันวาคม พ.ศ. 2433 พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวจึงโปรดเกล้าฯ ให้ตราพระราชบัญญัติกรมสารบาญชีขึ้น โดยแบ่งเป็น 3 กอง ประกอบด้วย กองบาญชีกลาง กองรับ และกองจ่าย กับหน้าที่ 4 นายเวร คือ เวรรับ เวรจ่าย เวรเกณฑ์ (เวรแบงก์เดิม) และเวรบาญชี เพื่อกำหนดหน้าที่ภายในกรมให้เป็นสัดส่วน ชัดเจน และเหมาะสมขึ้น 

ครั้นถึงในสมัยพระบาทสมเด็จพระมงกุฎเกล้าเจ้าอยู่หัว ได้โปรดเกล้าฯ ให้ตั้งกรมตรวจเงินแผ่นดินขึ้นในกระทรวงพระคลังมหาสมบัติ เมื่อ พ.ศ. 2458 โดยให้รวม "กรมตรวจ" และ "กรมสารบาญชี" เข้าด้วยกัน และเปลี่ยนชื่อเป็น "กรมบาญชีกลาง" เมื่อวันที่ 18 กันยายน พ.ศ. 2458 ในคราวนี้ทำให้กรมบาญชีกลางมีภารกิจหนักขึ้น โดยเป็นทั้งผู้รวบรวมประมวลบัญชีเงินรายได้และรายจ่ายของแผ่นดิน วางรูป และแนะนำการบัญชีแก่เจ้าหน้าที่ที่ทำการเบิกจ่าย เก็บเงินผลประโยชน์ รักษาเงินแผ่นดิน สอบสวนการเบิกจ่ายในราชการแผ่นดิน รวมถึงการสอบสวน และตักเตือนเจ้าหน้าที่ต่างๆ ที่ทำการเก็บเงินผลประโยชน์รายได้ของแผ่นดินนำส่งพระคลัง

และเมื่อวันที่ 23 พฤษภาคม พ.ศ. 2476 ตามพระราชกฤษฎีกาจัดวางระเบียบกรมในกระทรวงพระคลังได้เปลี่ยนชื่อ กรมบาญชีกลาง เป็น "กรมบัญชีกลาง" เพื่อสะท้อนภาระงานให้ชัดเจน <ref>กรมบัญชีกลาง, [http://www.cgd.go.th/wps/portal/Informations ประวัติกรมบัญชีกลาง] {{Webarchive|url=https://web.archive.org/web/20150513235057/http://www.cgd.go.th/wps/portal/Informations |date=2015-05-13 }}</ref>

== รายพระนามและรายนามอธิบดีกรมบัญชีกลาง ==

* ลำดับที่ 1 : พ.ศ. 2433–2441 พระยานรนารถภักดีศรีรัษฎากร (เอม ณ มหาชัย)
* ลำดับที่ 2 : พ.ศ. 2442–2442 [[พระยาอุดมพงศ์เพ็ญสวัสดิ์ (หม่อมราชวงศ์ประยูร อิศรศักดิ์)]]
* ลำดับที่ 3 : พ.ศ. 2443–2445 มิสเตอร์ชาลล์ เจมส์ ริเวตต์ คาร์แนค (Mr.Charles James Rivett Carnac)
* ลำดับที่ 4 : พ.ศ. 2445–16 ก.พ. 2450 [[พระเจ้าบรมวงศ์เธอ กรมพระจันทบุรีนฤนาถ]]<ref>[http://www.ratchakitcha.soc.go.th/DATA/PDF/2445/002/23.PDF แจ้งความกระทรวงพระคลังมหาสมบัติ] </ref>
* ลำดับที่ 5 : พ.ศ. 2450–2 ก.ย. 2458 [[พระราชวรวงศ์เธอ กรมหมื่นพิทยาลงกรณ์]]
* ลำดับที่ 6 : 3 ก.ย. 2458–31 มี.ค. 2463 มหาอำมาตย์ตรี [[เจ้าพระยาพลเทพ (เฉลิม โกมารกุล ณ นคร)]]
* ลำดับที่ 7 : 1 เม.ย. 2464–17 พ.ค. 2469 มหาอำมาตย์ตรี [[พระยาอนุรักษ์โกษา (ประเวศ อมาตยกุล)]]
* ลำดับที่ 8 : 24 พ.ค. 2469–31 มี.ค. 2472 มหาอำมาตย์ตรี [[พระยาโกมารกุลมนตรี (ชื่น โกมารกุล ณ นคร)]]
* ลำดับที่ 9 : 1 เม.ย. 2473–11 ก.พ. 2478 มหาอำมาตย์ตรี [[พระยาไชยยศสมบัติ (เสริม กฤษณามระ)]]
* ลำดับที่ 10 : 22 มิ.ย. 2480–20 ธ.ค. 2481 มหาอำมาตย์ตรี พระยาชัยสุรินทร์ (ตาล บุนนาค)
* ลำดับที่ 11 : 28 มิ.ย. 2482–30 มิ.ย. 2486 อำมาตย์โท พระยาทรงสุรรัชฎ์ (อนุสนธิ์ (อ่อน) บุนนาค)
* ลำดับที่ 12 : 1 ก.ค. 2486–29 ม.ค. 2490 รองอำมาตย์เอก หลวงเสถียรโชติสาร (จรัล โชติกเสถียร)
* ลำดับที่ 13 : 1 ก.พ. 2490–30 เม.ย. 2490 รองอำมาตย์เอก หลวงบรรณกรโกวิท (เปา จักกะพาก)
* ลำดับที่ 14 : 10 พ.ค. 2490–7 ก.ย. 2500 อำมาตย์ตรี หม่อมเจ้าสุวิชากร วรวรรณ
* ลำดับที่ 15 : 8 ก.ย. 2500–30 ก.ย. 2506 นายบุญมา วงศ์สวรรค์
* ลำดับที่ 16 : 1 ต.ค. 2506–31 ก.ค. 2508 [[หม่อมราชวงศ์ทองแท่ง ทองแถม]]
* ลำดับที่ 17 : 1 ส.ค. 2508–30 ก.ย. 2510 นายพิศลย์ เดชาติวงศ์ ณ อยุธยา
* ลำดับที่ 18 : 9 ต.ค. 2510–1 ต.ค. 2511 นายเยื่อ สุสายัณห์
* ลำดับที่ 19 : 2 ต.ค. 2511–30 ก.ย. 2513 นายอรุณ ทัพพะรังสี
* ลำดับที่ 20 : 1 ต.ค. 2513–30 ก.ย. 2515 นายประพนธ์ บุนนาค
* ลำดับที่ 21 : 1 ต.ค. 2515–30 ก.ย. 2521 นาย[[พนัส สิมะเสถียร]]
* ลำดับที่ 22 : 1 ต.ค. 2521–31 ต.ค. 2522 นาย[[นุกูล ประจวบเหมาะ]]
* ลำดับที่ 23 : 1 พ.ย. 2522–30 ก.ย. 2525 นายสุนทร เสถียรไทย
* ลำดับที่ 24 : 1 ต.ค. 2525–30 ก.ย. 2529 นายบัณฑิต บุณยะปานะ
* ลำดับที่ 25 : 1 ต.ค. 2529–30 ก.ย. 2531 นายภุชงค์ เพ่งศรี
* ลำดับที่ 26 : 1 ต.ค. 2531–30 ก.ย. 2532 นายเมธี ภมรานนท์
* ลำดับที่ 27 : 1 ต.ค. 2532–7 ก.ค. 2535 [[หม่อมราชวงศ์จัตุมงคล โสณกุล]]
* ลำดับที่ 28 : 8 ก.ค. 2535–30 ก.ย. 2536 นายมนัส ลีวีระพันธุ์
* ลำดับที่ 29 : 1 ต.ค. 2536–28 ธ.ค. 2539 นายปรีดี บุญยัง
* ลำดับที่ 30 : 29 ธ.ค. 2539–4 ก.พ. 2541 นายนิพัทธ พุกกะณะสุต
* ลำดับที่ 31 : 5 ก.พ. 2541–30 ก.ย. 2541 นายกมล จันทิมา
* ลำดับที่ 32 : 1 ต.ค. 2541–30 ก.ย. 2542 นายวุฒิชัย พงษ์ประสิทธิ์
* ลำดับที่ 33 : 1 ต.ค. 2542–20 ต.ค. 2545 นาย[[วิสุทธิ์ ศรีสุพรรณ]]
* ลำดับที่ 34 : 21 ต.ค. 2545–30 ก.ย. 2546 นายวิสุทธิ์ มนตริวัต
* ลำดับที่ 35 : 1 ต.ค. 2546–30 ก.ย. 2547 นายศานิต ร่างน้อย
* ลำดับที่ 36 : 1 ต.ค. 2547–2549 นายบุญศักดิ์ เจียมปรีชา
* ลำดับที่ 37 : 16 พ.ย. 2549–30 ก.ย. 2552 นาย[[ปิยพันธุ์ นิมมานเหมินท์]]
* ลำดับที่ 38 : 1 ต.ค. 2552–30 ก.ย. 2553 นายพงษ์ภาณุ เศวตรุนทร์
* ลำดับที่ 39 : 1 ต.ค. 2553–30 ก.ย. 2555 นายรังสรรค์ ศรีวรศาสตร์
* ลำดับที่ 40 : 1 ต.ค. 2555–30 ก.ย. 2559 นาย[[มนัส แจ่มเวหา]]
* ลำดับที่ 41 : 1 ต.ค. 2559–30 ก.ย.2562 นางสาวสุทธิรัตน์ รัตนโชติ<ref>http://www.bangkokbiznews.com/news/detail/713055</ref>
* ลำดับที่ 42 : 1 ต.ค. 2562–30 ก.ย.2564 นายภูมิศักดิ์ อรัญญาเกษมสุข
* ลำดับที่ 43 : 1 ต.ค. 2564-30 ก.ย 2566 นางสาวกุลยา ตันติเตมิท
* ลำดับที่ 44 : 1 ต.ค. 2566-ปัจจุบัน นางแพตริเซีย มงคลวนิช

== หน่วยงานในสังกัด ==

* สำนักงานเลขานุการกรม
* กองกฎหมาย
* กองการเงินการคลังภาครัฐ
* กองการพัสดุภาครัฐ
* กองกำกับและพัฒนาระบบเงินนอกงบประมาณ
* กองคดี
* กองความร่วมมือและความโปร่งใสในการจัดซื้อจัดจ้างภาครัฐ
* กองค่าตอบแทนและประโยชน์เกื้อกูล
* กองตรวจสอบภาครัฐ
* กองบริหารการเบิกจ่ายเงินเดือน ค่าจ้าง บำเหน็จบำนาญ
* กองบริหารการรับ - จ่ายเงินภาครัฐ
* กองบริหารทรัพยากรบุคคล
* กองบัญชีภาครัฐ
* กองยุทธศาสตร์และแผนงาน
* กองระบบการคลังภาครัฐ
* กองระบบการจัดซื้อจัดจ้างภาครัฐและราคากลาง
* กองละเมิดและแพ่ง
* กองสวัสดิการรักษาพยาบาล
* ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร
* สถาบันพัฒนาบุคลากรด้านการคลังและบัญชีภาครัฐ
* กลุ่มพัฒนาระบบลูกจ้าง
* กลุ่มตรวจสอบภายใน
* กลุ่มพัฒนาระบบบริหาร
* สำนักงานคลังเขต 1 - 9
* สำนักงานคลังจังหวัด

== อ้างอิง ==
{{รายการอ้างอิง}}

== แหล่งข้อมูลอื่น ==
* [http://www.cgd.go.th เว็บไซต์กรมบัญชีกลาง]

{{กระทรวงการคลังของไทย}}

[[หมวดหมู่:กระทรวงการคลัง]]
[[หมวดหมู่:หน่วยงานของรัฐบาลไทยในเขตพญาไท]]
[[หมวดหมู่:องค์การที่ก่อตั้งในปี พ.ศ. 2433]]
[[หมวดหมู่:ส่วนราชการระดับกรมในประเทศไทย|บัญชีกลาง]]
โครงการ ASF: Apache Tika  
โพสต์โดยASF 29 ตุลาคม 2567โครงการ

คุณเล่าให้เราฟังเกี่ยวกับโครงการนี้สักหน่อยได้ไหม  
Apache Tikaเป็นกรอบงานตรวจจับและวิเคราะห์เนื้อหาโอเพ่นซอร์สที่เขียนด้วย Java กรอบงานนี้จะตรวจจับและแยกข้อมูลเมตาและข้อความจากไฟล์ประเภทต่างๆ มากกว่าพันประเภท นอกจากจะมีไลบรารี Java แล้ว Tika ยังมีรุ่นเซิร์ฟเวอร์และรุ่นบรรทัดคำสั่งที่เหมาะสำหรับใช้จากภาษาการเขียนโปรแกรมอื่นๆ อีกด้วย

โครงการนี้เริ่มต้นเมื่อใดและทำไม 
เดิมที Tika เป็นส่วนหนึ่งของฐานโค้ด Apache Nutch และได้รับการพัฒนาเพื่อให้สามารถระบุและแยกเนื้อหาได้ในระหว่างการรวบรวมข้อมูลบนเว็บ ในปี 2007 Tika ถูกแยกออกเป็นโครงการแบบสแตนด์อโลนเพื่อเพิ่มความสามารถในการขยายและการใช้งาน ทำให้เข้าถึงระบบจัดการเนื้อหา เว็บครอว์เลอร์อื่นๆ และระบบค้นหาข้อมูลได้

ใครคือผู้ฟังของคุณ และคุณคิดว่าคุณสมบัติหลักของเทคโนโลยีใดที่จะทำให้ผู้คนตื่นเต้นได้บ้าง 
Tika ถูกใช้โดยสถาบันการเงินต่างๆ เช่น Fair Isaac Corporation (FICO) และ Goldman Sachs รวมถึง NASA นักวิจัยในสถาบันการศึกษา และระบบจัดการเนื้อหาหลักๆ เช่น Drupal และ Alfresco 

Tika รองรับไฟล์มากกว่าพันรูปแบบ ตั้งแต่ PDF และเอกสาร Office ไปจนถึงไฟล์เสียง รูปภาพ และอื่นๆ ด้วยอินเทอร์เฟซรวมสำหรับการแยกวิเคราะห์รูปแบบเหล่านี้ทั้งหมด Tika จึงมีค่าอย่างยิ่งสำหรับงานต่างๆ เช่น การจัดทำดัชนีเครื่องมือค้นหา การวิเคราะห์เนื้อหา การแปล และอื่นๆ ในโลกที่ความต้องการในการประมวลผลข้อมูลจำนวนมากเพิ่มมากขึ้น เครื่องมือเช่น Tika จึงมีความสำคัญเพิ่มมากขึ้นเรื่อยๆ 

Tika กำลังแก้ไขปัญหาด้านเทคโนโลยีอะไร?
Tika คือไลบรารีซอฟต์แวร์ที่มีวัตถุประสงค์หลายประการ ได้แก่: 

การประมวลผลข้อมูล: Tika เป็นส่วนประกอบสำคัญในกระบวนการประมวลผลข้อมูลจำนวนมาก เนื่องจากสามารถประมวลผลไฟล์ประเภทต่างๆ ได้หลากหลาย 
การสร้างดัชนีเครื่องมือค้นหา: Tika สามารถใช้แยกประเภทไฟล์สำหรับการสร้างดัชนีเครื่องมือค้นหา 
การวิเคราะห์เนื้อหา: Tika สามารถใช้ในการวิเคราะห์เนื้อหาได้ 
การแปล: ติกะนำมาใช้ในการแปลได้ 
การระบุภาษา: ติก้าสามารถระบุภาษาของข้อความได้ 
การแยกข้อความจากรูปภาพ: Tika สามารถการแยกข้อความจากรูปภาพได้โดยใช้ซอฟต์แวร์ OCR Tesseract 
เหตุใดงานนี้จึงมีความสำคัญ
Tika มีแอปพลิเคชันที่มีคุณค่ามากมาย ตั้งแต่เครื่องมือค้นหาไปจนถึงการวิเคราะห์เอกสาร แอปพลิเคชันที่น่าสนใจที่สุดอย่างหนึ่งอาจเป็นปัญญาประดิษฐ์ (AI) โดยการทำให้ข้อมูลจำนวนมากมีความหมายไม่ว่าจะอยู่ในรูปแบบใดก็ตาม Tika ช่วยให้ AI สามารถประมวลผล แปล สกัด และวิเคราะห์ข้อมูลดิบเป็นอัลกอริทึมและรูปแบบที่มีความหมายซึ่งเราสามารถเรียนรู้ได้ 

ภารกิจของ ASF คือการจัดหาซอฟต์แวร์เพื่อประโยชน์สาธารณะ โปรเจ็กต์ของคุณสะท้อนถึงภารกิจของ ASF และแนวคิด "ชุมชนเหนือโค้ด" ในด้านใดบ้าง
Tika เป็นหนึ่งในโปรเจ็กต์ที่ท้าทายในการแข่งขัน Artificial Intelligence Cyber Challenge (AIxCC) ซึ่งเป็นการแข่งขันสองปีที่รวมเอาผู้ที่เก่งที่สุดและฉลาดที่สุดด้าน AI และความปลอดภัยทางไซเบอร์มาไว้ด้วยกันเพื่อปกป้องระบบซอฟต์แวร์ที่สำคัญ ผู้เข้าแข่งขันมีหน้าที่ในการพัฒนาระบบอัตโนมัติเพื่อค้นหาและเสนอวิธีแก้ไขในฐานโค้ดขนาดใหญ่ในโลกแห่งความเป็นจริง เป้าหมายสูงสุดของการแข่งขัน AIxCC คือการพัฒนาระบบเพื่อช่วยให้โปรเจ็กต์ซอฟต์แวร์โอเพ่นซอร์ส (OSS) ระบุช่องโหว่ได้โดยไม่ต้องใช้ความพยายามมากเกินไป โดยใช้ AI และเทคนิคดั้งเดิม เช่น การวิเคราะห์แบบฟัซซิ่งและการวิเคราะห์แบบสถิต เพื่อช่วยปรับปรุงระบบนิเวศ OSS ทั้งหมด

โครงการ Tika เป็นโครงการที่ท้าทายซึ่งเป็นหนึ่งในฐานโค้ดที่ระบบของคู่แข่งต้องค้นหา โดยค้นหาจุดอ่อนด้านความปลอดภัยของซอฟต์แวร์ที่อันตรายที่สุด 25 อันดับแรกตามที่ระบุโดยทีม Common Weakness Enumeration ของ MITRE โครงการท้าทายอื่นๆ สำหรับ AIxCC ได้แก่ nginx, เคอร์เนล Linux, SQLite และ Jenkins

ในการแข่งขัน นักพัฒนาได้แทรกช่องโหว่สังเคราะห์เกือบ 60 รายการลงในโครงการโอเพ่นซอร์สที่คัดเลือกโดยโฮสต์โดยออฟไลน์ในระบบการแข่งขัน ระบบพบช่องโหว่ที่แทรกเข้าไปมากกว่าหนึ่งในสาม และระบบหนึ่งค้นพบช่องโหว่แบบซีโร่เดย์ ซึ่งเป็นช่องโหว่ด้านความปลอดภัยที่นักพัฒนาไม่ทราบ

มีกรณีการใช้งานหรือเหตุการณ์สำคัญล่าสุดใดๆ ที่คุณต้องการแจ้งให้เราทราบหรือไม่? 
Tika 2.9.2 เปิดตัวในเดือนเมษายน และ Tika 3.0.0 BETA2 เปิดตัวในเดือนกรกฎาคม ทั้งสองรุ่นมีการแก้ไขข้อบกพร่องและอัปเกรดส่วนที่ต้องพึ่งพาหลายรายการ 

คุณมีประสบการณ์อะไรบ้างในการขยายชุมชน? 
การประมวลผลไฟล์อาจดูไม่น่าตื่นเต้น แต่ชุมชนของเรามีผู้คนจากหลากหลายสาขา เช่น การค้นหาองค์กร การค้นพบทางอิเล็กทรอนิกส์ การตรวจสอบไฟล์ และการเก็บรักษาข้อมูลดิจิทัล เป็นต้น

วิธีที่ดีที่สุดในการเรียนรู้เกี่ยวกับโครงการและทดลองใช้งานคืออะไร 
ดาวน์โหลด jar ของ tika-app จากหน้าดาวน์โหลด เรียกใช้ด้วย `java -jar tika-app-XYZjar` และวางไฟล์ลงใน GUI ในการใช้ Tika ในเชิงโปรแกรม เอกสาร การเริ่มต้น ใช้งานนี้ จะอธิบายวิธีการสร้าง Tika จากซอร์สโค้ดและวิธีเริ่มใช้ Tika ในแอปพลิเคชัน โปรดใส่ใจและปฏิบัติตามคำแนะนำในส่วน "การรับและการสร้างซอร์สโค้ด"

ผู้อื่นสามารถมีส่วนสนับสนุนโครงการนี้ได้อย่างไร โดยการสนับสนุนโค้ดเป็นเพียงวิธีหนึ่งเท่านั้น  Apache Tika ถูกสร้างและดูแลโดยผู้มีส่วนสนับสนุนที่หลากหลาย เรายินดีรับความช่วยเหลือจากทุกรูปแบบสำหรับโครงการ ไม่ว่าจะเป็นโค้ด เอกสารประกอบ การทดสอบ การคัดกรองข้อบกพร่อง การสนับสนุนผู้ใช้ และอื่นๆ อีกมากมาย หากคุณกำลังมองหาแหล่งช่วยเหลือ
โปรดส่งอีเมลถึงรายชื่อผู้พัฒนา Tika ที่ dev@tika.apache.org

อนาคตของโครงการจะเป็นอย่างไร 
เราพยายามหาทางผสานรวมตัววิเคราะห์สำหรับรูปแบบไฟล์ใหม่ๆ อยู่เสมอ และเรารู้สึกตื่นเต้นเป็นอย่างยิ่งกับความสนใจที่ฟื้นคืนมาในการทำความเข้าใจเอกสารซึ่งเกิดจากการปฏิวัติ AI และความจำเป็นในการแยกโครงสร้างเอกสารด้วยความแม่นยำสูง 

แหล่งข้อมูลเพิ่มเติม 

รายชื่อผู้รับจดหมาย: https://tika.apache.org/mail-lists.html 
วิกิพีเดีย: https://cwiki.apache.org/confluence/display/tika 
หากต้องการดาวน์โหลดซอร์สโค้ดสำหรับ Apache Tika เวอร์ชันล่าสุด โปรดดูหน้าดาวน์โหลด
คู่มือการเริ่มต้นอย่างรวดเร็วของตัววิเคราะห์มีคำแนะนำเกี่ยวกับการเพิ่มประเภท MIME ใหม่และตัววิเคราะห์ใหม่ให้กับ Tika
หนังสือTika in Actionมีข้อมูลดีๆ มากมายเกี่ยวกับวิธีการทำงานของ Tika และวิธีขยายขอบเขตการทำงาน
ASF เป็นแหล่งรวมของผู้ร่วมสนับสนุนเกือบ 9,000 รายที่ร่วมสนับสนุนโครงการที่กำลังดำเนินการอยู่กว่า 320 โครงการ รวมถึง Apache Airflow, Apache Camel, Apache Flink, Apache HTTP Server, Apache Kafka และ Apache Superset ด้วยการสนับสนุนจากอาสาสมัคร นักพัฒนา ผู้ดูแล และผู้สนับสนุนกว่า 75 ราย โครงการของ ASF จึงสร้างซอฟต์แวร์โอเพ่นซอร์สที่ใช้กันอย่างแพร่หลายทั่วโลก งานนี้ช่วยให้เราบรรลุภารกิจของเราในการจัดทำซอฟต์แวร์เพื่อประโยชน์สาธารณะ

ท่ามกลางการจัดงานชุมชน การทำงานร่วมกัน การผลิตโค้ด และอื่นๆ อีกมากมาย เรามักจะลืมที่จะใช้เวลาสักครู่เพื่อรับรู้และนำเสนองานสำคัญที่กำลังดำเนินการอยู่ในระบบนิเวศ ASF อย่างเหมาะสม บล็อกซีรีส์นี้มุ่งหวังที่จะทำเช่นนั้น: เน้นย้ำถึงโครงการต่างๆ ที่ช่วยให้ชุมชน ASF มีชีวิตชีวา หลากหลาย และยั่งยืน เราต้องการแบ่งปันเรื่องราว กรณีการใช้งาน และทรัพยากรต่างๆ ในชุมชน ASF และที่อื่นๆ เพื่อไม่ให้มองข้ามการทำงานหนักของชุมชน ASF และผู้สนับสนุน 

หากคุณเป็นส่วนหนึ่งของโครงการ ASF  และต้องการนำเสนอผลงาน โปรดติดต่อที่markpub@aparche.org
เชื่อมต่อกับ ASF

ติดตามเราบนโซเชียล: X , LinkedInและYouTube
โฮสต์โครงการ 
สมัครเป็นผู้สนับสนุน ASF 
ทรัพยากรชุมชน
เข้าร่วมชุมชนผ่านรหัส
ความร่วมมือของชุมชนส่งเสริมให้ผู้สนับสนุน ASF มือใหม่สู่เส้นทางแห่งการปฏิบัติตามโอเพ่นซอร์สต่อไป  
โพสต์โดยASF 21 ตุลาคม 2567ส่วนสนับสนุนครั้งแรก
“ชุมชนโค้ดเหนือ” เป็นมากกว่าคำขวัญของ ASF มูลนิธิความเชื่อที่ดีว่าเพื่อให้โครงการโอเพนเนอร์สเติบโตและการดูแลสุขภาพชุมชนที่ถือเป็นสิ่งสำคัญที่ยังคงความเป็นกลางเพื่อเป็นการสนับสนุนของเฟิร์มแวร์ของ พวกเราทุกคนจะได้รับสิ่งนี้ในลักษณะเดียวกัน 

ที่#FirstASFContribution บางครั้งเน้นย้ำถึงผลกระทบที่เกิดขึ้นและมาจากการให้คำปรึกษา การทำงานร่วมกันดังกล่าวสามารถมีต่อผู้ตรวจสอบความเหมาะสมโอเพ่นพิเศษสำหรับสมาชิกชุมชนจาก Apache Druid, Apache Airflow, Apache Airflow, Apache Camel, Apache Iceberg และ Apache Airflow ที่มาแบ่งปันเรื่องราวที่ต้องการร้องขอคำขอครั้งแรกที่ต้องใช้โครงการโอเพ่นการบินสอื่นๆ อีกมากมายรวมถึงแพลตฟอร์มที่ชุมชนจะได้รับ 

Tejaswini Bandlamudi, Apache Druid 
ผลงาน ASF ชิ้นส่วนแรกของ Tejaswini สืบค้นข้อมูลบน HTTP ในขณะที่ใช้ Apache Druid เพื่อขอการร้องขอ pull request เธอเป็นครั้งแรก Tejaswini ได้ทำงานแก้ไขจุดเชื่อมต่อต่างๆ แล้วสนับสนุนและต่างๆ เพื่อให้ Druid มี ประสิทธิภาพด้านต้นทุนที่มีประสิทธิภาพและทัศนคติที่สามารถย้ายระบบต่อเนื่อง (CI) ของ Druid จาก Travis CI สืบทอด GitHub Actions 

Tejaswini สนับสนุนการ สนับสนุน Druid มากประสบการณ์ช่วยให้เธอเรียนรู้ตัวเองในฐานะความเชื่อ 

Hussein Awala, Apache Airflow 
Hussein คุณลักษณะเส้นทางการทำงานในโครงการ ASF โดยเพิ่มส่วนประกอบเล็กๆ น้อยๆ สำหรับ Apache Airflow ปรับปรุงฟังก์ชั่นการทำงานในลองข่าวซ้ำๆ และอาจกล่าวกับ Airflow โดยเฉพาะอย่างยิ่ง กับชุมชนบน Stack Overflow และ GitHub เพื่อตอบคำถามและปัญหาต่างๆ และที่สำคัญ Hussein ได้สนับสนุนโครงการ ASF อีกครั้ง 70 โครงการและ Airflow และ Apache Hudi 

ฮุสเซนในชุมชน ASF และโดยปกติแล้วจะต้องอุทิศตนเพื่อบำรุงบำรุงรักษาโอเพ่นนมัสการสอันทรงคุณค่าเป็นแรงผลักดันให้กับส่วนสนับสนุนต่อไปจะต้องถามใครในชุมชน ต้องการขอบคุณสำหรับข้อมูลเพิ่มเติมหรือคำแนะนำหรือไม่ฮุสเซนเป็นศูนย์กลาง "แสดงความขอบคุณอย่างจริงใจต่อผู้และสมาชิก PMC เพื่อรองรับผมตลอดการเดินทางโดยความเชื่อของผมต้องการขอบคุณ จาเร็ก โปทิก และ เอลาด คาลิฟ สำหรับการรับรองและคำแนะนำที่ยอดเยี่ยม"  

Vignesh Nayak Manel, Apache Camel 
สืบค้น ASF ครั้งแรกของ Vignesh บางครั้งนำส่วนประกอบ AWS Step Functions มาโจมตี Apache Camel เขาพบว่าโครงการ Camel นั้นยังไม่ได้รับส่วนประกอบต่างๆ และมีโครงการมากมายอัปสตรีมหลายโครงการที่ช่วยสนับสนุนโครงการ เพื่อการรับประทานอาหารในการขนส่งอีกครั้งและการใช้งานของเรา

Vignesh ร้านอาหารเขาขอบคุณมาตรฐานและชุมชนต่างๆ ของ ASF ซึ่งทั้งหมดนี้เป็นผลการสนับสนุนครั้งแรก 

Abid Mohammed, Apache Iceberg 
Abid ระบุและการจัดการเป็นเวลานานในระดับสูง Apache Iceberg เพิ่มเติมเพิ่มไฟล์ข้อมูลในชั้นบรรยากาศของไคลเอนต์ spark 'add_files' เขาตั้งข้อสังเกตว่า "ปัญหาดังกล่าว ความหลงใหลในเหตุเพราะเหตุนี้" 

อาเพิ่มความยังคงเป็นชุมชน Iceberg และรู้สึกขอบคุณ Russell Spitzer สำหรับความช่วยเหลือและกำลังใจของเขา 

Nick Crane, Apache Arrow
Nick เรียนรู้เกี่ยวกับ ASF เป็นหลักเข้าร่วมในหัวข้อสำหรับApache Arrowเพื่อรับ Arrow คำขอครั้งแรกของเขา (PR) เพื่อตรวจสอบความต้องการของผู้ใช้เพื่อลบฟังก์ชันที่ แต่คุณจะพบปัญหามากกว่าที่คาดหวังไว้อีกครั้ง Nick พบกับ ASF ครั้งแรกนี้เป็น "ประสบการณ์ที่ยอดเยี่ยมในระบบควบคุมแบบโอเพนผู้โดยสารสผู้โดยสารคำแนะนำมากมายในมากมายใน ตรวจสอบโค้ดและเป็นเรื่องสำคัญมากที่ได้รวม PR ครั้งแรกของฉันเอง" 

เขาขอขอบคุณชุมชน Arrow สำหรับความร่วมมือและขอขอบคุณล่าสุด Jon Keane และ Neal Richardson เพื่อเป็นที่ปรึกษาการทำงานร่วมกันที่ยอดเยี่ยม 

การเยี่ยมชมผู้ยิ่งใหญ่เป็นครั้งแรกที่แนวคิด "ชุมชนเหนือโค้ด" ที่ฝังรากลึกอยู่ในโอเพ่นเลเซอร์สของ ASF ค้นพบได้ในครั้งแรกที่สามารถมาจากภายนอกได้อย่างยอดเยี่ยมและด้วยความที่เห็นได้ชัดก็ช่วยให้โครงการของ ASF มีมากมายที่พวกเราขอทราบ ความพยายามและความแข็งแกร่งของชุมชนโอพ่นที่มุ่งมั่นในความสามัคคีและความเชื่อ

ยินดีต้อนรับ ASF

ติดตามเราบนแพลตฟอร์ม: X , LinkedInและYouTube
โครงการนี้ 
สมัครเป็นผู้สนับสนุน ASF 
ทรัพยากรชุมชน
ชุมชนผ่านรหัส
จดหมายข่าว ASF Plus One: ตุลาคม 2024
โพสต์โดยASF วันที่ 15 ตุลาคม 2567จดหมายข่าวพลัสวัน

เรารู้สึกว่าจะแนะนำจดหมายข่าว ASF Plus One ฉบับแรกๆ วารสารรายเดือนที่องค์กรขึ้นเพื่อนำเสนอข้อมูลสำคัญ ข่าวสารกิจกรรมต่างๆ รายงานการดำเนินการต่างๆ โครงการของ ASF 

ติดตามสมัครสมาชิกผ่านกล่องด้านล่างเพื่อรับการเยี่ยมชมห้องโถงใหญ่ Plus One ฉบับใหม่ 

ชุมชน

IoTDB เป็นจุดสังเกตของ Deutsche Bahn ผู้บริหารและการจัดการระบบการควบคุมสายตาได้การปฏิบัติตามกฎข้อบังคับของคณะกรรมการตรวจสอบสำหรับองค์กรใดๆ ส่วนประกอบสำคัญๆ ของอินเทอร์เฟซ IoTDB

ต้องการแบ่งปันเรื่องราวสาธารณประโยชน์ของคุณในรูป  แบบต่างๆ


Apache DolphinSchedulerเป็นแพลตฟอร์มการประสานงานต่างๆ สำหรับโฟลว์โอเพ่นโฮสติ้งแบบกระจายและขยายได้พร้อมอินเทอร์เฟซภาพ DAG บางครั้งอาจต้องใช้เวลาและประสิทธิภาพการทำงานของโฟลว์ตามลำดับด้วยโค้ดน้อยๆ ที่ประสิทธิภาพของDolphinScheduler

เพื่อรับทราบโครงการ ASF  และต้องการนำเสนอผลงาน ได้ที่press@apache.org


เหตุผลที่สำคัญต่อโครงการโอเพ่นเฮลิคอปเตอร์สส่วนใหญ่ที่เห็นได้ชัดจะทราบข่าวและความเข้มข้นของซอฟต์แวร์ที่ละเอียดอย่างทันท่วงทียังได้รับการอนุญาตเฉพาะเจาะจงไม่ให้ถูกทราบในขณะที่เดียวกันก็ช่วย การตรวจ สอบและส่งเสริมการดำเนินการเพิ่มเติมในสนับสนุน 5 การปฏิบัติตามกฎระเบียบ ASF ประสิทธิภาพและความน่าเชื่อถือมีเรื่องราวเกี่ยวกับเรื่องราว #FirstASFContribution ที่จะเกิดขึ้นได้  เลย
หากคุณต้องการใบอนุญาตที่ยังไม่มี โปรดส่งอีเมลถึงเรา

ดูหน้าใบอนุญาตเก่าด้วย

การแปลอย่างไม่เป็นทางการ
หากพิจารณาทางกฎหมายแล้ว ใบอนุญาตฉบับดั้งเดิม (ภาษาอังกฤษ) เป็นตัวกำหนดเงื่อนไขการแจกจ่ายจริงสำหรับโปรแกรม GNU และโปรแกรมอื่นๆ ที่ใช้ใบอนุญาตดังกล่าว แต่เพื่อช่วยให้ผู้คนเข้าใจใบอนุญาตเหล่านี้ได้ดีขึ้น เราจึงอนุญาตให้ผู้อื่นเผยแพร่คำแปลที่ไม่เป็นทางการเป็นภาษาอื่นๆ ได้ โดยต้องปฏิบัติตามกฎระเบียบของเราเกี่ยวกับการแปลที่ไม่เป็นทางการ

FSF ไม่อนุมัติการแปลใบอนุญาตให้ถูกต้องตามกฎหมายอย่างเป็นทางการ เหตุผลก็คือการตรวจสอบการแปลอาจเป็นเรื่องยากและมีค่าใช้จ่ายสูง (ต้องขอความช่วยเหลือจากทนายความที่พูดได้สองภาษาในประเทศอื่น) ที่แย่กว่านั้นคือ หากมีข้อผิดพลาดเกิดขึ้น ผลลัพธ์อาจเลวร้ายสำหรับชุมชนซอฟต์แวร์เสรีทั้งหมด ตราบใดที่การแปลยังไม่เป็นทางการ การแปลก็จะไม่ก่อให้เกิดอันตรายทางกฎหมาย

เพื่อเน้นย้ำข้อเท็จจริงที่ว่าการแปลเหล่านี้ไม่ได้มีผลใช้บังคับอย่างเป็นทางการ เราจะไม่เผยแพร่การแปลเหล่านี้ เพื่อให้ชัดเจน เราจะไม่โพสต์การแปลเหล่านี้บน gnu.org หรือบนเว็บไซต์ GNU และ FSF อื่นๆ เราจะลิงก์ไปยังเว็บไซต์เหล่านั้นเท่านั้น

รายชื่อคำแปลที่ไม่เป็นทางการ
วิธีการสร้างการแปลที่ไม่เป็นทางการ
การคัดลอกและแจกจ่ายคำต่อคำ
ข้อกำหนดลิขสิทธิ์มาตรฐานสำหรับหน้าเว็บ GNU ในปัจจุบันคือCreative Commons Attribution-NoDerivs 4.0 International Licenseซึ่งเมื่อก่อน (และบางหน้าก็ยังคงเป็นอยู่):

อนุญาตให้คัดลอกและแจกจ่ายบทความทั้งหมดนี้แบบคำต่อคำได้ทั่วโลกโดยไม่ต้องเสียค่าลิขสิทธิ์ในสื่อใดๆ ทั้งสิ้น ทั้งนี้ ต้องมีการเก็บรักษาประกาศนี้ไว้

โปรดทราบความคิดเห็นต่อไปนี้เกี่ยวกับ "ใบอนุญาตคำต่อคำ" โดย Eben Moglen:

“เราตั้งใจใช้วลี 'การคัดลอกแบบคำต่อคำในสื่อใดๆ' โดยไม่ได้ต้องการให้เก็บหัวเรื่องและท้ายหน้าหรือคุณลักษณะการจัดรูปแบบอื่นๆ ไว้ จำเป็นต้องเก็บลิงก์เว็บไว้ในสื่อที่มีและไม่มีไฮเปอร์ลิงก์ (เช่น บันทึกหรือ URL พิมพ์ในรูปแบบอื่นๆ ในสื่อที่ไม่ใช่ HTML)”

รายชื่อใบอนุญาตซอฟต์แวร์ฟรี
รายชื่อใบอนุญาตซอฟต์แวร์ฟรี
หากคุณกำลังคิดจะออกใบอนุญาตใหม่ โปรดติดต่อ FSF โดยเขียนจดหมายถึง<licensing@fsf.org>การเพิ่มจำนวนใบอนุญาตซอฟต์แวร์ฟรีประเภทต่างๆ หมายความว่าผู้ใช้ต้องทำงานหนักขึ้นในการทำความเข้าใจใบอนุญาตเหล่านี้ เราอาจช่วยคุณค้นหาใบอนุญาตซอฟต์แวร์ฟรีที่มีอยู่ซึ่งตรงตามความต้องการของคุณได้

หากทำไม่ได้ หากคุณจำเป็นต้องขอใบอนุญาตใหม่จริง ๆ ด้วยความช่วยเหลือของเรา คุณสามารถมั่นใจได้ว่าใบอนุญาตนั้นเป็นใบอนุญาตซอฟต์แวร์ฟรีอย่างแท้จริง และหลีกเลี่ยงปัญหาในทางปฏิบัติต่าง ๆ ได้

Copyleft คืออะไร?
Copyleftเป็นวิธีการทั่วไปในการสร้างโปรแกรมให้เป็นซอฟต์แวร์ฟรี และกำหนดให้เวอร์ชันที่ปรับเปลี่ยนและขยายทั้งหมดของโปรแกรมต้องเป็นซอฟต์แวร์ฟรีเช่นกัน

วิธีที่ง่ายที่สุดในการสร้างโปรแกรมให้ฟรีคือการทำให้โปรแกรมเป็น สาธารณสมบัติซึ่งไม่มีลิขสิทธิ์ วิธีนี้ทำให้ผู้คนสามารถแชร์โปรแกรมและการปรับปรุงได้หากพวกเขาต้องการ นอกจากนี้ยังทำให้ผู้คนที่ไม่ให้ความร่วมมือสามารถแปลงโปรแกรมเป็น ซอฟต์แวร์ที่เป็นกรรมสิทธิ์ได้ อีกด้วย พวกเขาสามารถทำการเปลี่ยนแปลงได้หลายอย่างหรือเพียงเล็กน้อย และแจกจ่ายผลลัพธ์เป็นผลิตภัณฑ์ที่เป็นกรรมสิทธิ์ ผู้ที่ได้รับโปรแกรมในรูปแบบที่แก้ไขดังกล่าวจะไม่ได้รับอิสระที่ผู้เขียนเดิมมอบให้ เนื่องจากคนกลางได้พรากอิสระนั้นไป

ในโครงการ GNUเป้าหมายของเราคือการให้ ผู้ใช้ ทุกคนมีอิสระในการแจกจ่ายและเปลี่ยนแปลงซอฟต์แวร์ GNU หากคนกลางสามารถลอกเลียนเสรีภาพเหล่านี้ออกไปได้ เราอาจมีผู้ใช้จำนวนมาก แต่ผู้ใช้เหล่านั้นจะไม่มีเสรีภาพ ดังนั้น แทนที่จะนำซอฟต์แวร์ GNU เข้าสู่โดเมนสาธารณะ เรากลับใช้วิธีคัดลอกซ้าย Copyleft บอกว่าใครก็ตามที่แจกจ่ายซอฟต์แวร์ซ้ำ ไม่ว่าจะมีการเปลี่ยนแปลงหรือไม่ก็ตาม จะต้องส่งต่อเสรีภาพในการคัดลอกและเปลี่ยนแปลงต่อไป Copyleft รับรองว่าผู้ใช้ทุกคนมีเสรีภาพ

Copyleft ยังให้ แรงจูงใจ แก่โปรแกรมเมอร์คนอื่นๆ ในการเพิ่มซอฟต์แวร์ฟรี โปรแกรมฟรีที่สำคัญ เช่น คอมไพเลอร์ GNU C++ มีอยู่เพราะเหตุนี้เท่านั้น

Copyleft ยังช่วยให้โปรแกรมเมอร์ที่ต้องการมีส่วนร่วม ใน การปรับปรุงซอฟต์แวร์ฟรีได้รับอนุญาตให้ทำเช่นนั้นได้ โปรแกรมเมอร์เหล่านี้มักทำงานให้กับบริษัทหรือมหาวิทยาลัยที่ยินดีทำทุกอย่างเพื่อให้ได้เงินมากขึ้น โปรแกรมเมอร์อาจต้องการมีส่วนร่วมในการเปลี่ยนแปลงของตนต่อชุมชน แต่ผู้ว่าจ้างอาจต้องการเปลี่ยนการเปลี่ยนแปลงดังกล่าวให้เป็นผลิตภัณฑ์ซอฟต์แวร์ที่เป็นกรรมสิทธิ์

เมื่อเราอธิบายแก่ผู้ว่าจ้างว่าการแจกจ่ายเวอร์ชันที่ปรับปรุงแล้ว ยกเว้นเป็นซอฟต์แวร์ฟรี เป็นสิ่งผิดกฎหมาย ผู้ว่าจ้างมักจะตัดสินใจเผยแพร่เวอร์ชันนั้นในรูปแบบซอฟต์แวร์ฟรี แทนที่จะทิ้งมันไป

หากต้องการคัดลอกโปรแกรม เราจะระบุก่อนว่าโปรแกรมนั้นมีลิขสิทธิ์ จากนั้นจึงเพิ่มเงื่อนไขการจำหน่าย ซึ่งเป็นเครื่องมือทางกฎหมายที่ให้ทุกคนมีสิทธิใช้ แก้ไข และจำหน่ายโค้ดของโปรแกรมหรือโปรแกรมใดๆ ที่ได้มาจากโปรแกรมนั้นอีกครั้ง แต่จะต้องไม่เปลี่ยนแปลงเงื่อนไขการจำหน่าย ดังนั้น โค้ดและเสรีภาพจึงแยกจากกันไม่ได้ทางกฎหมาย

นักพัฒนาซอฟต์แวร์ที่เป็นกรรมสิทธิ์ใช้ลิขสิทธิ์เพื่อลิดรอนเสรีภาพของผู้ใช้ เราใช้ลิขสิทธิ์เพื่อรับประกันเสรีภาพของพวกเขา นั่นคือเหตุผลที่เราเปลี่ยนชื่อโดยเปลี่ยน “ลิขสิทธิ์” เป็น “copyleft”

Copyleft เป็นแนวคิดทั่วไป มีหลายวิธีในการกรอกรายละเอียด ในโครงการ GNU ข้อกำหนดการแจกจ่ายเฉพาะที่เราใช้มีอยู่ใน GNU General Public License, GNU Lesser General Public License และ GNU Free Documentation License

ใบอนุญาตที่เหมาะสมนั้นรวมอยู่ในคู่มือต่างๆ มากมายและในการแจกจ่ายโค้ดต้นฉบับ GNU แต่ละรายการ

GNU GPL ได้รับการออกแบบมาเพื่อให้คุณนำไปปรับใช้กับโปรแกรมของคุณได้อย่างง่ายดายหากคุณเป็นผู้ถือลิขสิทธิ์ คุณไม่จำเป็นต้องแก้ไข GNU GPL เพื่อดำเนินการนี้ เพียงแค่เพิ่มคำชี้แจงในโปรแกรมของคุณซึ่งอ้างอิงถึง GNU GPL อย่างถูกต้อง โปรดทราบว่าคุณต้องใช้ข้อความทั้งหมดของ GPL หากคุณใช้ GPL ข้อความดังกล่าวถือเป็นส่วนสำคัญและไม่อนุญาตให้คัดลอกบางส่วน (เช่นเดียวกับ LGPL, AGPL และ FDL)

การใช้เงื่อนไขการแจกจ่ายแบบเดียวกันสำหรับโปรแกรมต่างๆ มากมายทำให้สามารถคัดลอกโค้ดระหว่างโปรแกรมต่างๆ ได้อย่างง่ายดาย เนื่องจากโปรแกรมทั้งหมดมีเงื่อนไขการแจกจ่ายแบบเดียวกัน จึงไม่จำเป็นต้องคิดว่าเงื่อนไขเหล่านี้เข้ากันได้หรือไม่ GPL ย่อยมีข้อกำหนดที่ให้คุณเปลี่ยนเงื่อนไขการแจกจ่ายเป็น GPL ทั่วไปได้ เพื่อให้คุณคัดลอกโค้ดไปยังโปรแกรมอื่นที่ครอบคลุมโดย GPL ได้

ใบอนุญาตสำหรับงานประเภทอื่น ๆ
เราเชื่อว่าซอฟต์แวร์และเอกสารที่เผยแพร่ควรเป็น ซอฟต์แวร์และเอกสารประกอบฟรีเราขอแนะนำให้เผยแพร่ผลงานด้านการศึกษาและเอกสารอ้างอิงทุกประเภทให้ฟรีเช่นกัน โดยใช้ใบอนุญาตเอกสารประกอบฟรี เช่น ใบอนุญาตเอกสารประกอบฟรี GNU (GNU FDL)

สำหรับเรียงความแสดงความเห็นและเอกสารทางวิทยาศาสตร์ เราขอแนะนำใบอนุญาต Creative Commons Attribution-NoDerivs 3.0 United Statesหรือใบอนุญาต “คัดลอกเฉพาะคำต่อคำเท่านั้น” ตามที่ระบุข้างต้น

เราไม่ได้ยึดมั่นว่าผลงานทางศิลปะหรือความบันเทิงต้องฟรี แต่หากคุณต้องการให้ฟรี เราขอแนะนำใบอนุญาตศิลปะฟรี
